
body {
    min-width: 350px;
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;  
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #b36f76;

    
}

button {
    background-color: #b36f76;
    border: none;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
}

#delete-btn {
    background: white;
    color: #b36f76;
    border: 1px solid #b36f76;
}

/* STYLE THE LIST ACCORDING TO THE DESIGN */
ul {
    list-style-type: none;
    padding: 0;
  }
  li {
      margin-top: 5px;
  }
  
  a {
   color: #b36f76;
  }
  