/* popup.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #b393b3;
}

.header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-title {
  font-size: 20vw; /* Increase the font size as needed */
  font-style: italic; /* Make the font italic */
  margin: 0; /* Remove default margins */
}

.popup-container {
  width: 400px;
  height: 500px;
  background-color: #2c1e38;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px #21132c;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header-wrapper {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #21132c;
  box-sizing: border-box;
}

.header-logo {
  width: 50px;
  height: auto;
  max-width: 100%;
}

.header-button {
  background: none;
  border: none;
  cursor: pointer;
}

.header-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  color: #b393b3;
  margin: 0;
  font-size: 1.2em;
}

.popup-main {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Space between input group and next element */
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-button-container {
  display: flex; /* Use flexbox for horizontal alignment */
  align-items: center; /* Center items vertically */
  flex: 1; /* Allow it to take up remaining space in .input-group */
}

input[type="text"] {
  flex: 1; /* Make input field take up available space */
  padding: 5px;
  margin-right: 10px; /* Space between input field and button */
  box-sizing: border-box; /* Include padding in width */
}

button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #999999;
  color: #b393b3;
}

button:hover {
  background-color: #2b1a38;
}

select {
  width: 100%; /* Full width for the select element */
  padding: 5px;
  box-sizing: border-box;
}
